@import './mixins';
@import './variables';

.menu-page{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../../../public/images/tim-hart-mRyMi1qsdqs-unsplash.jpg');
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.menu-page-cont{
    @include justify-content(space-between);
    width: 80vw;
    margin: 0 auto;
    margin-top: 20vh;

    .menu-cont{
        cursor: pointer;
        color: white;
        width: 45%;
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        position: relative;
        z-index: 1;
        transition: $allTransition;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            background-color: black;
            opacity: 50%;
            z-index: -1;
        }
        & h1, p{
            padding: 2rem;
            padding-bottom: 0rem;
        }
        & p{
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 768px) {
    .menu-page-cont{
        flex-direction: column;
        width: 90vw;
        margin-top: 15vh;

        .menu-cont{
            margin: 1rem 0;
            width: 100%;
            height: 35vh;

            & h1{
                font-size: 1.2rem;
                padding: 1rem;
                padding-bottom: 0rem;
            }
            & p{
                font-size: .9rem;
                padding: 1rem;
                padding-bottom: 0rem;
            }
        }
    }
}