.football-page {
  background-image: url(/public/images/ji-mmm-yy-Jr5x1CAWySo-unsplash.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.football-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 50%;
  z-index: -1;
}
.football-page .football-cont {
  position: relative;
  background-color: white;
  width: 80vw;
  height: 75vh;
  margin: 0 auto;
  top: 17vh;
  border-radius: 20px;
}
.football-page .football-cont .teams {
  height: 75%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 2rem;
  padding-top: 2rem;
  border-bottom: 1px solid #000;
}
.football-page .football-cont .teams .team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.179);
}
.football-page .football-cont .teams .team .team-name {
  width: 40%;
  text-align: center;
  font-size: 1.1rem;
}
.football-page .football-cont .teams .team .odd-select {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.football-page .football-cont .teams .team .odd-select .odds {
  cursor: pointer;
  border: none;
  width: 25%;
  color: white;
  padding: 0.7rem 0;
  background-color: #009444;
  transition: background-color 0.3s ease-in-out;
}
.football-page .football-cont .teams .team .odd-select .odds:hover {
  background-color: #005829;
}
.football-page .football-cont .teams .team .odd-select .selected-odd {
  cursor: pointer;
  border: none;
  width: 25%;
  color: white;
  padding: 0.7rem 0;
  transition: background-color 0.3s ease-in-out;
  background-color: #005829;
}
.football-page .football-cont .next {
  cursor: pointer;
  border: none;
  color: white;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  display: flex;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 2rem;
  background-color: #009444;
  transition: background-color 0.3s ease-in-out;
}
.football-page .football-cont .next:hover {
  background-color: #005829;
}
.football-page .confirm-bet-open {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.711);
  top: 0;
  z-index: 3;
}
.football-page .confirm-bet-open .confirm-bet-cont {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin: auto;
  width: 40vw;
  height: 65vh;
  background-color: white;
  border-radius: 15px;
  top: 20vh;
}
.football-page .confirm-bet-open .confirm-bet-cont .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  margin-bottom: 0.5rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  width: 80%;
}
.football-page .confirm-bet-open .confirm-bet-cont .body .input-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.football-page .confirm-bet-open .confirm-bet-cont .body .input-cont input {
  width: 40%;
  height: 2.5rem;
  font-size: 1.3rem;
  padding-left: 0.5rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .body .input-cont button {
  width: 14%;
  border: none;
  color: white;
  background-color: rgb(0, 100, 0);
  cursor: pointer;
  font-size: 0.9rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .body .price-ranges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .body .price-ranges button {
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.football-page .confirm-bet-open .confirm-bet-cont .odds-win {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .odds-win .total-odds, .football-page .confirm-bet-open .confirm-bet-cont .odds-win .total-win {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}
.football-page .confirm-bet-open .confirm-bet-cont .place-bet {
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 2rem;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  background-color: #009444;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}
.football-page .confirm-bet-open .confirm-bet-cont .place-bet:hover {
  background-color: #005829;
}
.football-page .confirm-bet-open .confirm-bet-cont .place-bet-inactive {
  cursor: not-allowed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
}
.football-page .confirm-bet-close {
  display: none;
}

@media (max-width: 768px) {
  .football-page .football-cont {
    width: 100vw;
  }
  .football-page .football-cont .teams {
    margin: 0 1rem;
  }
  .football-page .football-cont .teams .team .team-name {
    font-size: clamp(0.9rem, 4.5vw, 1.1rem);
  }
}
@media (max-width: 950px) {
  .football-page .confirm-bet-open .confirm-bet-cont {
    width: clamp(18rem, 80vw, 21rem);
    overflow: hidden;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .head {
    margin: 1rem;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .head h3 {
    font-size: 1rem;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .body {
    margin-top: 1rem;
    width: 90%;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .body .price-ranges button {
    flex-shrink: 0;
    padding: 0.5rem;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .odds-win {
    margin: 0 auto;
    width: 85%;
  }
  .football-page .confirm-bet-open .confirm-bet-cont .odds-win .total-win h2 {
    font-size: clamp(1.3rem, 6.5vw, 1.5rem);
  }
}/*# sourceMappingURL=Football.css.map */