.race-result-page {
  background-image: url(/public/images/jeff-griffith-PaIDqj8otls-unsplash.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}
.race-result-page::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.333);
  z-index: -1;
}
.race-result-page .race {
  position: absolute;
  background-color: white;
  width: 60vw;
  margin: 0 auto;
  top: 20vh;
  right: 0;
  left: 0;
  border-radius: 20px;
  padding: 1.5rem 0;
}
.race-result-page .race .horses-cont {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
}
.race-result-page .race .horses-cont .track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  background-color: rgb(215, 215, 215);
  border-radius: 1rem;
  margin: 2.5rem auto;
}
.race-result-page .race .horses-cont .track .horse {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0.5rem;
}
.race-result-page .result-cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.711);
  top: 0;
  z-index: 3;
}
.race-result-page .result-cont .result {
  position: relative;
  width: 50vw;
  height: 72vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  top: 15vh;
  background-color: white;
  border-radius: 15px;
}
.race-result-page .result-cont .result .first-place {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.race-result-page .result-cont .result .first-place img {
  width: clamp(18rem, 21vw, 21rem);
}
.race-result-page .result-cont .result .first-third {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0;
  padding: 0 1rem;
  font-size: 1.2rem;
}
.race-result-page .result-cont .result .you-win {
  color: #009444;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}
.race-result-page .result-cont .result .you-lose {
  color: red;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}
.race-result-page .result-cont .result .overall-placement-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}
.race-result-page .result-cont .result .overall-placement-result p {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.6rem 0;
  color: teal;
}
.race-result-page .result-cont .result .overall-placement-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .race-result-page .race {
    width: 90vw;
  }
  .race-result-page .race .horses-cont .track {
    width: 85%;
  }
  .race-result-page .result-cont .result {
    width: clamp(19rem, 95vw, 21rem);
  }
  .race-result-page .result-cont .result h1 {
    font-size: 1.2rem;
  }
  .race-result-page .result-cont .result .first-third {
    margin: 1rem 0;
  }
  .race-result-page .result-cont .result .first-third p {
    font-size: clamp(1rem, 5.3vw, 1.1rem);
  }
  .race-result-page .result-cont .result h2 {
    margin-top: 0.5rem !important;
  }
  .race-result-page .result-cont .result .you-win, .race-result-page .result-cont .result .you-lose {
    font-size: 1.5rem;
  }
}
@media (max-width: 438px) {
  .race-result-page .race .horses-cont .track {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=Race-result.css.map */